## Ignorer les fichiers de sauvegarde /sous linux/
# fichiers de sauvegardes emacs: tout se qui se termine par tilde ~
*~
# fichiers de sauvegarde vi
.*.swp
# fichiers de l'IDE kdevelop
.kdev*
*.kdev*
# fichiers du gestionnaire de fichier dolphin
.directory
# fichiers de Kate
*.kate-swp

## Ignorer les fichiers produits par les Makefile
#ignorer les fichiers objets générés par le compilateur (.o)
*.o
#ignorer les dépendances
*.d
#ignorer les répertoires générés par les Makefile
bin/
obj/
.deps/
