#ignorer les fichiers de sauvegarde /sous linux/ tout se qui se termine par tilde ~
*~
#ignorer les fichiers objets générés par le compilateur (.o)
*.o
#ignorer les fichiers de l'IDE 
.kdev*
*.kdev*
.directory