# Fichier de configuration pour les Makefile de "mini-mud"
PROJET="mini-mud"

# Par défaut, srcdir sera affecté au répertoire du projet
# S'assurer cependant qu'il aura bien été défini
prefix=$(srcdir)/tests
ifeq ($(strip $(prefix)),)
$(error "La variable 'prefix' n'est pas définie. Impossible de continuer !")
endif
bindir=$(prefix)/tests/bin

# Paramètres du compilateur
CXX=g++
CXXFLAGS=-c -Wall -ansi
INCLUDEDIR=$(srcdir)/include
CPPFLAGS+=$(foreach dir,$(INCLUDEDIR),-I "$(dir)")
LD=ld
